@charset "UTF-8";

body, html {
	height:100%;
}

body{
	position: relative;
	background: #222;
	color:#fff;
	font-family: -apple-system, "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	font-size: 16px;
	line-height: 20px;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: break-word;
}